mixin users()
   #users
      table.ui.celled.striped.table
        thead
          tr 
             th 姓名
             th 学号
             th 学院/专业/年级
             th 项目
             th 手机
             th 邮箱
             th 简历
             th
        tbody
          each user in users
            tr
                td.id.hidden #{user._id}
                td.name #{user.name}
                td #{user.no}
                td #{user.academy} / #{user.profession} / #{user.grade}
                td #{user.project}
                td #{user.phone}
                td #{user.email}
                td
                   a.resume(href='#{downpre}?path=#{user.file}') 简历
                td
                   i.close.icon
                   //i.edit.icon