mixin projects()
   #projects
      +proEdit()
      .ui.button.green.add 添加
      table.ui.sortable.celled.striped.table
        thead
          tr 
             th 项目
             th 项目人员
             th 简介
             th
             //详细内容隐藏 
        tbody
            each project in projects 
                tr
                    td.name #{project.name}
                    td.hidden.id #{project._id}
                    td.peoples #{project.peoples}
                    td.info #{project.info}
                    td.hidden.content #{project.content}
                    td
                       i.close.icon
                       i.edit.icon




mixin proEdit()
    .ui.fullscreen.modal.projects
        i.close.icon
        .header
            p.title 标题
        .content
            .ui.form
                .ui.two.fields
                    .field.name
                        lable 项目
                        input(type='text')
                    .field.peoples
                        lable 参与人员
                        input(type='text')
                .field.info
                    lable 简介
                    input(type='text')
                .field.content
                    lable 详细内容
                    textarea
        .actions
            .ui.positive.button 确定
            .ui.negative.button 取消
